input{
    height: 3rem;
    width: 30vw;
    padding: .2rem;
    margin: .3rem;
    border-radius: .3rem;
}
body{
    background-color: rgb(183, 224, 224);
}
.button{
    background-color: green;
    height: 3rem;
    width: 14vw;
    margin-top: 1rem;
    border: 2px solid black;
}
p{
    color: red;
}